@import './variables.scss';
@import './pages/login.scss';
@import './pages/header.scss';
@import './pages/informations-student.scss';
@import './pages/applications-student.scss';
@import './components/headingWithInfo.scss';

@font-face {
    font-family: 'psk-font-bn';
    src: url("../fonts/SWZCONBN.TTF");
} 
@font-face {
    font-family: 'psk-font-db';
    src: url("../fonts/SWZCONDB.TTF");
} 
@font-face {
    font-family: 'psk-font-di';
    src: url("../fonts/SWZCONDI.TTF");
} 
@font-face {
    font-family: 'psk-font-dn';
    src: url("../fonts/SWZCONDN.TTF");
} 
@font-face {
    font-family: 'psk-font-dt';
    src: url("../fonts/SWZCONDT.TTF");
} 
@font-face {
    font-family: 'psk-font-li';
    src: url("../fonts/SWZCONLI.TTF");
} 
@font-face {
    font-family: 'psk-font-ln';
    src: url("../fonts/SWZCONLN.TTF");
} 
@font-face {
    font-family: 'psk-font-rn';
    src: url("../fonts/SWZINSRN.TTF");
} 

html{
    width:100%;
    height:100%;
    background: $grey;
}

body{
    color:white;
    margin:unset;
    font-family: 'psk-font-ln';
    max-width:1360px;
    margin:0 auto;
}

label, a {
    color:$lightOrange;
}

a.ant-btn, button{
    background:$lightOrange !important;

    svg{fill:white !important}

    &:hover{
        background:$strongOrange !important;
    }
}

.strong_orange_background{background:$strongOrange !important;}
.light_orange_background{background:$lightOrange !important;}
.lighter_orange_background{background:$lighterOrange !important;}
.bright_orange_background{background:$brightOrange !important;}
.brighter_orange_background{background:$brighterOrange !important;}

.strong_orange_color{color:$strongOrange !important;}
.light_orange_color{color:$lightOrange !important;}
.lighter_orange_color{color:$lighterOrange !important;}
.bright_orange_color{color:$brightOrange !important;}
.brighter_orange_color{color:$brighterOrange !important;}

.ant-input-affix-wrapper:hover,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper:focus-within{border-color:$lighterOrange !important;}

.info_divided_flex_column{
    gap:20px;
    display: flex;
    flex-direction: column;
}


.green_bg_icon > *{background:#4A8E32; border-radius:14px; font-size:24px; border:unset;}
.green_bg_icon > * svg{fill:white !important}

.red_bg_icon > *{background:#933535; border-radius:14px; font-size:24px;}
.red_bg_icon > * svg{fill:white !important}

.ant-table-row{
    font-family: 'psk-font-ln';
    a{
        color: $black;
    }
}

.company__modal {
    display: flex;
    flex-wrap:wrap;
    gap:10px;
}

.company__modal{
    label,button{width:48%;}
    button{
        margin-top:22px;
    }
    label{color:$black; font-family:'psk-font-db'}
}

.meta_student{
    display: flex;
    flex-direction: row;
    gap:20px;
    justify-content: space-between;

    div{
    }

    > div:last-of-type{
        color:$strongOrange !important;
        margin-top:-15px;
        cursor:pointer;
    }
}


.student__list{height:400px; overflow-y:scroll; box-sizing:border-box; padding-right:8px; margin-top:20px;}