.login__container{
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    height:100vh;

    &__half {
        min-width:50%;
        max-width:50%;
        min-height:100vh;

        &:first-of-type{
            padding:40px 0px 0px 40px;
            box-sizing: border-box;
        }

        &__wrapper {
            margin:0 auto;
            margin-top:50px;
            max-width:450px;
            display:flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            gap:10px;

            h2{
                color:$black;
                font-family: 'psk-font-bn';
                font-size:32px;
                font-weight:400;
            }

            &__form {
                max-width:400px;

                .language_dropdown{
                    width:100%;
                    display:block;
                    background:white;
                    margin-top:25px;
                    padding:5px;
                    box-sizing: border-box;
                    border-radius:2px;
                    color:$grey;
                    font-family:'psk-font-ln';
                    cursor:pointer;
                }

                &--additonals{
                    display:flex;
                    justify-content: space-between;
                    margin:25px 0px;
                }

                .ant-checkbox .ant-checkbox-inner{
                    border-color: $strongOrange !important;
                }

                .ant-checkbox-checked:not(.ant-checkbox-disabled) .ant-checkbox-inner{
                    background-color:$strongOrange !important;
                }

                input{
                    margin-left:10px;
                }

                svg{
                    fill:$strongOrange !important;
                }

                a{
                    font-family:'psk-font-dn';
                }

                button{
                    width:100%;
                    background:$lightOrange;

                    svg{fill:white !important}

                    &:hover{
                        background:$strongOrange !important;
                    }
                }


            }

            
        }
    }
}